<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
            font-family: 'Poppins', sans-serif;
        }

        h2 {
            top: 50%;
            right: 50%;
            text-align: center;
            position: absolute;
            transform: translate(50%, -50%);
        }
    </style>
</head>
<body>
    <h2>
        Interested in working togther, Let me know.
        <p style="font-size: 1.2rem; font-weight: normal;padding-top: 10px; padding-bottom: 10px; ">Many project is not yet uploaded</p>
        <p style="font-size: 1rem; font-weight: normal;"><strong>Note: </strong>Hit the view project button, If any project is not rendered.</p>
    </h2>
</body>
</html>