@import "reset.css";

@font-face {
	font-family: Custom-Contain;
	src: url("../font/Custom Contain.otf");
}

@font-face {
	font-family: Custom-Header;
	src: url("../font/Custom Header.ttf");
}

body {
	-webkit-user-select: none;
	font-family: Custom-Contain;
	font-family: Custom-Header;
	background-color: rgba(225, 225, 225, 0.2);
}

.topnav {
	overflow: hidden;
	background-color: #f2f2f2;
	font-family: Custom-Contain;
}

.topnav a {
	float: left;
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.active {
	background-color: rgb(210, 210, 210);
	color: white;
}

.topnav .icon {
	display: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 17px;
	border: none;
	outline: none;
	color: #000;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(240, 240, 240);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
	background-color: #555;
	color: white;
}

.dropdown-content a:hover {
	background-color: #ddd;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

@media screen and (max-width: 600px) {

	.topnav a:not(:first-child),
	.dropdown .dropbtn {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.topnav.responsive .dropdown {
		float: none;
	}

	.topnav.responsive .dropdown-content {
		position: relative;
	}
}

.topnav.responsive .dropdown .dropbtn {
	display: block;
	width: 100%;
	text-align: left;
}

header {
	width: 95px;
	height: 88px;
	margin: 15px auto;
	border-radius: 100%;
	border: 5px solid #f2f2f2;
	user-select: none;
	cursor: url(../font/eye.png) 50 50, default;
}

header:hover {
	transition: border 0.5s;
	border-top: 5px solid red;
	border-left: 5px solid yellow;
	border-bottom: 5px solid green;
	border-right: 5px solid skyblue;
	animation: rotate-header 0.8s linear infinite;
	transition: animation 2s ease-out;
}

@keyframes rotate-header {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

header img {
	margin: 15px;
	width: 75px;
	height: 60px;
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
}

.git-title-con {
	text-align: center;
}

.git-title-h1 {
	font-size: 25px;
	line-height: 8px;
	font-weight: bold;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.git-title {
	padding: 5px;
	padding-right: 10px;
	background: rgb(249, 249, 249);
}

.git-sec-left {
	margin: 20px;
	padding: 10px;
	font-size: 18px;
	margin-top: 50px;
	line-height: 30px;
	padding-top: 15px;
	border-radius: 10px;
	padding-bottom: 20px;
	border: 1px solid #000;
	background-color: #FFF;
	font-family: Custom-Contain;
	transition: box-shadow 0.8s;
}

.git-sec-left-about {
	line-height: 30px;
	text-align: center;
}

.git-sec-right {
	margin: 20px;
	padding: 10px;
	font-size: 18px;
	margin-top: 50px;
	line-height: 22px;
	padding-top: 25px;
	text-align: center;
	border-radius: 10px;
	padding-bottom: 20px;
	border: 1px solid #000;
	background-color: #FFF;
	font-family: Custom-Contain;
	transition: box-shadow 0.8s;
}

.git-sec-left:hover,
.git-sec-right:hover {
	transition: box-shadow 0.8s;
	box-shadow: 0 0 25px rgb(180, 180, 180);
}

section,
aside {
	width: 47%;
	float: left;
	box-sizing: border-box;
}

.git-sel-website {
	margin: 18px;
	width: 80%;
	padding: 12px;
	border-radius: 5px;
	outline: 0;
	border: 0;
	font-size: 15px;
	appearance: button;
	-webkit-appearance: button;
	-moz-appearance: button;
	transition: box-shadow 0.3s;
	box-shadow: 0px 5px 15px rgb(150, 150, 150);
}

.git-sel-website:hover {
	transition: box-shadow 0.3s;
	box-shadow: 0px 5px 25px rgb(150, 150, 150);
}

footer {
	width: 100%;
	bottom: 0px;
	padding: 5px;
	position: fixed;
	text-align: center;
	border-top: 1px solid #000;
	font-family: Custom-Contain;
	background-color: rgb(249, 249, 249);
}

select::-ms-expand {
	display: none;
}

option {
	font-size: 16px;
}

.git-sec-desc-title {
	top: 10px;
	right: 640px;
	font-size: 18px;
	line-height: 0px;
	padding: 2px;
	position: relative;
	font-family: Custom-Contain;
	background-color: rgb(249, 249, 249);
}

.git-sec-desc {
	width: 97%;
	float: left;
	padding: 20px;
	font-size: 18px;
	margin: 0 0 50px 20px;
	border: 1px solid #000;
	background-color: #FFF;
	box-sizing: border-box;
	font-family: Custom-Contain;
	transition: box-shadow 0.3s;
}

.git-sec-desc:hover {
	transition: box-shadow 0.3s;
	box-shadow: 0px 5px 25px rgb(150, 150, 150);
}

@media screen and (max-width: 1125px) {

	.git-sec-left,
	.git-sec-right {
		width: 45%;
	}

	.git-sec-desc {
		width: 95%;
	}

	.git-sec-desc-title {
		left: 50px;
	}
}

@media screen and (max-width: 800px) {

	.git-sec-left,
	.git-sec-right {
		width: 90%;
	}

	.git-sec-desc {
		width: 90%;
	}
}

@media screen and (max-width: 600px) {
	.git-sec-right {
		margin-top: 0px;
	}

	.git-sec-left,
	.git-sec-right {
		width: 90%;
	}
}

.versionone {
	padding: 0.5em;
	color: #fff;
	max-width: 100%;
	text-align: center;
	background: #a71111;
	font-size: 20px;
	font-family: Custom-Contain;
}